body {
    background-color: #5fef5f;            
}
hr {
    background-color: rgb(74, 21, 233);
    border-style: dotted none none;
    border-width: 5px;
    
    height: 0px;
}
h1{
    color: blue;
}
h3 {
    color: #9f0c2e;
}

